.header {
  display: flex;
  height: 100px;
  align-items: center;
  border-bottom: 1px solid var(--decor-line);
  & .container {
    display: flex;
    align-items: center;
    height: 100%;
  }
  & .wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    margin: 0;
    border-right: 1px solid var(--decor-line);
    border-left: 1px solid var(--decor-line);
  }
}
.logo,
.v-select {
  flex: 7%;
  max-width: 100px;
  display: flex;
  justify-content: center;
}
.header-links {
  flex-basis: 1;
  & a {
    color: var(--c-accent);
    transition: color .5s;
    &:hover {
      color: rgba(255, 92, 0, .7);
    }
    &:first-child {
      padding-right: 40px;
    }
  }
}