@font-face {
  font-family: var(--f-main-family);
  font-display: swap;
  src:
    url('../fonts/futurabookc.woff2') format('woff2'),
    url('../fonts/futurabookc.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: var(--f-main-family);
  font-display: swap;
  src:
    url('../fonts/futurademic.woff2') format('woff2'),
    url('../fonts/futurademic.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: var(--f-main-family);
  font-display: swap;
  src:
    url('../fonts/futuramediumc.woff2') format('woff2'),
    url('../fonts/futuramediumc.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Space";
  font-display: swap;
  src: url("../fonts/Space.woff2");
  src: url("../fonts/Space.woff");
}