h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  font-weight: normal;
  font-family: var(--f-main);
}

h1 {
  font-weight: 400;
  font-size: 145px;
  line-height: 136px;
  margin-bottom: 76px;
}

h2 {
  font-weight: 500;
  font-size: 45px;
  line-height: 52px;
  margin-bottom: 15px;
}

h3 {
  font-weight: 500;
  font-size: 32px;
  line-height: 37px;
  margin-bottom: 10px;
}

h4 {
  font-weight: 300;
  font-size: 30px;
  line-height: 34px;
  margin-bottom: 76px;
}

p,
a {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.04em;

}

.__contacts {
  font-size: 16px;
  line-height: 18px;
}

.__uppercase {
  text-transform: uppercase;
}

.__lang {
  font-weight: 500;
  font-size: 15px;
  line-height: 17px;
}