/* отключаем невидимый символ переноса строки L SEP  U+2028 */
/* Этот шрифт подключить в vars.css после каждого шрифта. */
/* Убедиться, что есть файлы Space.woff2 и Space.woff в папке ../fonts */
/* Эта настройка для боевого сервера. На тестовом мы отключаем в целях проверки правильности заполнения */
@font-face {
  font-family: "Space";
  font-display: swap;
  src: url("../fonts/Space.woff2");
  src: url("../fonts/Space.woff");
}
