.multiselect {
  width: 45px;
  cursor: pointer;
}
.multiselect__select {
  width: auto;
  padding: 0;
  right: 0;
  top: -2px;
  &:before,
  &:after {
    content: '';
    position: absolute;
    background: var(--c-black);
    top: 50%;
    width: 7px;
    height: 1px;
    border: none;
    margin: 0;
  }
  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
    right: -4px;
  }
}
.multiselect__tags {
  border: none;
}
.multiselect__option--highlight {
  background: transparent;
  color: var(--c-black);
}
.multiselect__placeholder {
  color: var(--c-black);
  font-size: 15px;
  text-transform: uppercase;
}
.multiselect__input,
.multiselect__single,
.multiselect__option {
  text-transform: uppercase;
  font-size: 13px;
}

.multiselect__option--selected.multiselect__option--highlight {
  background: var(--c-gray-light);
  color: var(--c-black);
}