include ../mixins.pug

doctype html
html
  head
    title Заголовок страницы
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="icon" type="image/png" sizes="180x180" href="content/favicon.png")
  body
    include ../components/Header/Header.pug
    #app
      block content